body > header {
  background: $header-bg;
  text-align: center;
  padding: 3em;
  font-size: 25px;
  font-weight: bold;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
      text-aling: center;
      
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
