<div id="main-nav">
    <nav>
        <ul>
        	<li>
        		{% if site.blog_index_asides.size %}
					{% include_array blog_index_asides %}
				{% else %}
					{% include_array default_asides %}
				{% endif %}
        	</li>
        	<li>
        		<ul>
        			<li>Github - <a href="http://www.github.com/carlast22" target="_blank">github.com/carlast22</a></li>
                    <li>Twitter - <a href="http://www.twitter.com/carlast22" target="_blank">@carlast22</a></li>
                    <li>Email - <a href="mailto:carlast22@gmail.com" target="_blank">carlast22 at gmail</a></li>
        		</ul>
        	</li>
        </ul>
    </nav>
</div>